@font-face {
    font-family: "font1";
    src: url(/assets/fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}

@font-face {
    font-family: "font2";
    src: url(/assets/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2);
}

@font-face {
    font-family: "font3";
    src: url(/assets/fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2);
}

@font-face {
    font-family: "font4";
    src: url(/assets/fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2);
}

@font-face {
    font-family: "font5";
    src: url(/assets/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2);
}

@font-face {
    font-family: "font6";
    src: url(/assets/fonts/WooCommerce.woff2);
}

/*
.drop-form {
        margin: 0;
        float: right;
        display: block;
    }

    .drop-form-sel {
        max-width: unset;
        margin-bottom: 0;
        vertical-align: top;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZmlsbD0iIzYyNjI2MiIgZD0iTTE1IDhsLTQgNi00LTZoOHoiLz48L3N2Zz4=) right center / 18px no-repeat, #ffffff;
        border-style: solid;
        border-color: #dddddd;
        border-width: 2px;
        border-radius: 3px;
        color: #111111;
        padding: 10px 12px;
        font-family: font5;
        min-height: 35px;
        padding-right: 20px;
        display: inline-block;
        appearance: none;
        outline: 0;
        resize: vertical;
    }

    .drop-form-option {
        font-family: font5;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        border-style: solid;
        border-width: 2px;
        padding: 10px 12px;
        border-radius: 3px;
    }

    .main-head {
        padding: 10px 0 0 0;
        display: block;
    }
