
.wrapper-side {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.s-main {
    flex: 1 auto;
    padding-top: 0;
    display: block;
}

.s-main-con {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 748px;
    display: block;
}

.s-main-out {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.s-main-outer {
    transform: translateX(0);
    padding: 60px 15px;
    margin-bottom: 20px;
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    height: 100vh;
    overflow: auto;
    width: 100%;
    background-color: #ffffff;
    display: block;
}

.s-close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.s-close-a {
    letter-spacing: 0;
    font-family: font2;
    text-transform: capitalize;
    cursor: pointer;
    color: #000000;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    border-radius: 3px;
    padding: 10px 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 19.2px;
    text-decoration: none;
}

.s-aside {
    display: block;            
}

.s-aside-con {
    word-break: break-word;
    margin-bottom: 40px;
    display: block;
}

.s-aside-out {
    display: block;
}

.s-aside-out h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0;
    margin-bottom: 30px;
    font-family: font2;
    color: #000000;
    display: block;
}

.s-aside-outer {
    border-color: #757575;
    border-radius: 4px;
    border-style: none;
    display: block;
}

.s-aside-in {
    display: block;
}

.s-aside-inner {
    margin-bottom: 24px;
    display: block;
}

.s-aside-bar {
    appearance: none;
    border: 0;
    background: transparent;
    border-radius: 4px;
    clear: both;
    height: 4px;
    margin: 15px 0;
    outline: none;
    padding: 0;
    position: relative;
    display: block;
}

.s-aside-bar::before {
    background: #000000;
    bottom: 0;
    content: "";
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
}

.s-aside-bar-con {
    display: block;
}

.s-aside-bar-out {
    background: linear-gradient(to right, transparent 0%,#000000 0, #000000 100%, transparent 0) no-repeat 0 100% / 100% 100%;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.s-aside-bar-input1 {
    appearance: none;
    background: transparent;
    border: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.s-aside-bar-input2 {
    appearance: none;
    background: transparent;
    border: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.s-aside-bar-input1::-webkit-slider-thumb,
.s-aside-bar-input2::-webkit-slider-thumb {
    appearance: none;
    pointer-events: auto;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 2px solid #111;
    margin-top: 6px;
    transform: translateX(-10%);
}

.s-aside-bar-input2::-webkit-slider-thumb {
    transform: translateX(10%);
    margin-top: 6px;
}

.s-aside-box {
    align-items: start;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin: 16px 0;
}

.s-aside-box-con {
    align-items: start;
    display: grid;
    gap: 4px;
}

.s-aside-box-out {
    font-family: font5;
    line-height: 12px;
    font-size: 10.5px;
    order: 1;
    display: inline-block;
}

.s-aside-box-out-input {
    max-width: 60px;
    min-width: 80px;
    border-width: 1px;
    border-color: #000000;
    font-size: 10.5px;
    margin: 0;
    padding: 8px;
    width: auto;
    border-style: solid;
    display: inline-block;
    appearance: none;
    outline: 0;
    resize: vertical;
    white-space: nowrap;
    letter-spacing: 0;
    font-family: font1;
    line-height: 12px;
}

.s-aside-box-out1 {
    font-family: font5;
    line-height: 12px;
    font-size: 10.5px;
    order: 1;
    display: inline-block;
}

.s-aside-box-out1-input {
    max-width: 60px;
    min-width: 80px;
    border-width: 1px;
    border-color: #000000;
    font-size: 10.5px;
    margin: 0;
    padding: 8px;
    width: auto;
    border-style: solid;
    display: inline-block;
    appearance: none;
    outline: 0;
    resize: vertical;
    white-space: nowrap;
    letter-spacing: 0;
    font-family: font1;
    line-height: 12px;
}

.s-aside-line {
    display: flex;
    gap: 16px;
}

.s-stock {
    word-break: break-word;
    margin-bottom: 40px;
    display: block;
}

.s-stock-con {
    display: block;
}

.s-stock-con h3 {
   font-size: 24px;
   font-weight: 700;
   line-height: 33.6px;
   letter-spacing: 0;
   margin-bottom: 30px;
   font-family: font2;
   color: #000000;
   display: block;
}

.s-stock-out {
    display: block;
}

.s-stock-outer {
    display: grid;
}

.s-stock-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.s-stock-ul-li {
    list-style: none;
    margin: 0 0 4px;
    padding: 0;
    display: list-item;
}

.s-stock-ul-li-con {
    margin-top: 12px;
    padding-bottom: 2px;
    display: block;
}

.s-stock-ul-li-out {
    cursor: pointer;
    align-items: flex-start;
    display: inline-flex;
    font-size: 10.5px;
    margin-bottom: 0;
    position: relative;
}

.s-stock-ul-li-outer {
    appearance: none;
    background-color: #fff;
    border: 1px solid #1917117a;
    border-radius: 4px;
    font-size: 10.5px;
    height: 15.75px;
    margin: 0 10.5px 0 0;
    min-height: 15.75px;
    min-width: 15.75px;
    overflow: hidden;
    position: static;
    vertical-align: middle;
    width: 15.75px;
}

.s-stock-ul-li-out-span {
    font-family: font4;
    color: rgb(39, 38, 38);
    line-height: 15.75px;
    vertical-align: middle;
}

.s-stock-ul-li-out svg {
    display: none;
    fill: #000;
    height: 11.8125px;
    margin-left: 1.96875px;
    margin-top: 0.65625px;
    pointer-events: none;
    position: absolute;
    width: 11.8125px;
}

.s-stock-line {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.s-rating {
    word-break: break-word;
    margin-bottom: 40px;
    display: block;
}

.s-rating-con {
    display: block;
}

.s-rating-con h3 
    {font-size: 24px;
   font-weight: 700;
   line-height: 33.6px;
   letter-spacing: 0;
   margin-bottom: 30px;
   font-family: font2;
   color: #000000;
   display: block;
}

.s-rating-out {
    margin-bottom: 24px;
    display: block;
}

.s-rating-outer {
    display: block;
}

.s-rating-ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: block;
}

.s-rating-ul-li {
    list-style: none;
    margin: 0 0 4px;
    padding: 0;
    display: list-item;
}

.s-rating-ul-li-con {
    margin-top: 10px;
    padding-bottom: 2px;
    display: block;
}

.s-rating-ul-li-con1 {
    margin-top: 12px;
    padding-bottom: 2px;
    display: block;
}

.s-rating-ul-li-out {
    cursor: pointer;
    align-items: flex-start;
    display: inline-flex;
    font-size: 10.5px;
    margin-bottom: 0;
    position: relative;
}

.s-rating-ul-li-outer {
    appearance: none;
    background-color: #fff;
    border: 1px solid #1917117a;
    border-radius: 4px;
    font-size: 10.5px;
    height: 15.75px;
    margin: 0 10.5px 0 0;
    min-height: 15.75px;
    min-width: 15.75px;
    overflow: hidden;
    position: static;
    vertical-align: middle;
    width: 15.75px;
}

.s-rating-ul-li-out-span {
    line-height: 15.75px;
    vertical-align: middle;
}

.s-rating-li-out-span-con {
    display: flex;
    margin-bottom: 0;
}

.s-rating-li-out-span-out {
    display: inline-block;
    font-family: font6;
    font-size: 10.5px;
    font-weight: 400;
    height: 16.98px;
    line-height: 16.98px;
    overflow: hidden;
    position: relative;
    width: 55.64px;
}

.s-rating-li-out-span-out::before {
    color: #000000;
    content: "SSSSS";
    left: 0;
    line-height: 16.98px;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}

.s-rating-li-out-span-out-span {
    width: 100%;
    left: 0;
    overflow: hidden;
    padding-top: 15.75px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 16.98px;
}

.s-rating-li-out-span-out-span::before {
    color: #000000;
    content: "SSSSS";
    left: 0;
    line-height: 16.98px;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}

.s-rating-li-out-span-out-span1 {
    width: 80%;
    left: 0;
    overflow: hidden;
    padding-top: 15.75px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 16.98px;
}

.s-rating-li-out-span-out-span1::before {
    color: #000000;
    content: "SSSSS";
    left: 0;
    line-height: 16.98px;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}

.s-rating-li-out-span-out-span2 {
    width: 60%;
    left: 0;
    overflow: hidden;
    padding-top: 15.75px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 16.98px;
}

.s-rating-li-out-span-out-span2::before {
    color: #000000;
    content: "SSSSS";
    left: 0;
    line-height: 16.98px;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}

.s-rating-line {
    display: flex;
    gap: 14px;
    margin-top: 16px;
}

.k {
    margin: 0;
    word-break: break-word;
    display: block;
}

.k-con {
    display: block;
}

.k-out {
    margin-bottom: 16px;
    display: block;
}

.k-ul-li-con {
    margin-top: 12px;
    padding-bottom: 4px;
    display: block;
}

.k-line {
    display: flex;
    gap: 16px;
}