*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* display None */

.header-nav2 {
    display: none;
}

/* Base Code */

.body {
    background-color: #ffffff;
    color: #111111;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0px;
    font-family: font1;
    font-weight: 400;
    overflow-x: hidden;
    direction: ltr;
    padding: 0;
    margin: 0;
    display: block;
}

.wrapper {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.header {
    display: block;
}

.header-a {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    top: 32px;
    background: #ffffff;
    padding: 10px 15px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.header-out {
    background: rgba(10, 10, 10, 0.9);
    background-image:#0a0a0ae6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 99999;
    display: block;
}

.sticky {
    height: 88px;
    display: block;
}

.header-out::before {
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
}

.header-nav {
    height: 88px;
    background: 0 0;
    color: #ffffff;
    display: block;
}

.header-nav-out {
    background: 0 0;
    align-items: center;
    display: flex;
    position: relative;
    border-bottom: 0 solid #f4f5f7;
}

.header-nav-out::before {
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
}

.header-nav-outer {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 748px;
    display: block;
}

.header-nav-in {
    display: grid;
    grid-template-columns: auto auto;
    min-height: auto;
    margin: 0 -15px;
}

.header-nav-inner1 {
    display: flex;
    align-items: center;
}

.header-nav-in1 {
    margin: 4px 0;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    display: block;
}

.header-nav-in1-macro {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 10px 0;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in1-micro {
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    display: flex;
}

.header-nav-in1-micro-a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in1-micro-a img {
    width: 120px;
    max-width: 120px;
    display: block;
    margin: 0 auto;
    height: auto;
    aspect-ratio: auto 283 / 141;
    overflow: clip;
}

.header-nav-inner2 {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header-nav-in2 {
    margin: 4px 0;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header-nav-in2-out {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 3px;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer {
    display: block;
}

.header-nav-in2-in {
    text-align: left;
    cursor: pointer;
    outline: 0;
    display: block;
}

.header-nav-in2-in-a {
    color: #ffffff;
    display: flex;
    fill: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in2-in-a svg {
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.header-nav-in2-out2 {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer2 {
    display: flex;
    margin: 4px 0;
    justify-content: flex-start;
    text-align: left;
}

.header-nav-in2-in2 {
    position: relative;
    display: block;
}

.header-nav-in2-in2-a {
    color: #ffffff;
    display: flex;
    position: relative;
    padding: 3px;
    background: #ffffff00;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in2-in2-a-span {
    margin: 0;
    display: flex;
}

.header-nav-in2-in2-a-span svg {
    fill: #ffffff;
    overflow: hidden;
}

.header-nav-in2-out3 {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 3px;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer3 {
    display: flex;
    margin: 4px 0;
    justify-content: flex-start;
    text-align: left;
}

.header-nav-in2-in3 {
    position: relative;
    display: block;
}

.header-nav-in2-in3-a {
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in2-in3-a-span1 {
    display: flex;
    fill: #ffffff;
}

.header-nav-in2-in3-a-span1 svg {
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.header-nav-in2-in3-a-span2 {
    background: #f4f5f7;
    color: #111111;
    position: absolute;
    font-size: .6em;
    padding: 3px;
    padding-right: 4px;
    bottom: -7px;
    right: -13px;
    font-weight: 800;
    line-height: 1;
    border-radius: 3px;
}

.header-nav-in2-out4 {
    margin: 0;
    margin-left: 15px;
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer4 {
    align-items: center;
    display: block;
}

.header-nav-in2-outer4-btn {
    padding: 10px 15px;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    background: #0a0a0ae6;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    fill: #ffffff;
    border-width: 1px;
    border-radius: 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    font-family: font1;
}

.header-nav-in2-outer4-btn-span1 {
    background-color: #ffffff;
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
}

.header-nav-in2-outer4-btn-span2 {
    margin: 3px 0;
    background-color: #ffffff;
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
}

/* media 576px */
 
@media screen and (min-width: 576px) {

    .header-nav2 {
        display: none;
    }


    .header-nav-in2-out {
        padding: 0;
    }

    .header-nav-in2-out3 {
        padding: 0 10px;
    }

    .header-nav-in2-in2-a {
        padding: 3px 5px;
    }
}

/* Media 749px */

@media screen and (min-width: 749px) {

    .header-nav2 {
        display: none;
    }

    .header-nav-outer {
        max-width: 992px;
    }

}

/* Media 960px */

@media screen and (min-width: 960px) {

    .header-nav {
        display: none;
    }

    .header-nav2 {
        height: 60px;
        background: 0 0;
        color: #ffffff;
        display: block;
    }

    .header-nav2-out {
        background: 0 0;
        max-height: 60px;
        border-bottom: 0 solid #f4f5f7;
        align-items: center;
        display: flex;
        position: relative;

    }

    .header-nav2-out::before {
        display: block;
        width: 100%;
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
    }

    .header-nav2-outer {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1170px;
        display: block;
    }

    .header-nav2-in {
        display: grid;
        grid-template-columns: auto auto;
        min-height: auto;
        margin: 0 -15px;
    }

    .header-nav2-inner1 {
        display: flex;
        align-items: center;
    }

    .header-nav2-inner1-con {
        margin: 8px 0;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        display: block;
    }

    .header-nav2-inner1-macro {
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner1-micro {
        justify-content: flex-start;
        text-align: left;
        align-items: center;
        display: flex;
    }

    .header-nav2-inner1-micro-img {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner1-micro-img img {
        width: 120px;
        display: block;
        margin: 0 auto;
        height: auto;
        aspect-ratio: auto 283 / 141;
        overflow: clip;
    }

    .header-nav2-inner2 {
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }

    .header-nav2-inner2-con {
        margin: 8px 0;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        display: block;
    }

    .header-nav2-inner2-out {
        position: unset;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0;
        font-weight: 500;
        padding: 0;
        margin: 0;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-outer {
        display: block;
    }

    .header-nav2-inner2-ul {
        text-transform: uppercase;
        display: flex;
        margin: 0 -10px;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
    }

    .header-nav2-inner2-li {
        display: block;
        position: relative;
        margin: 0 10px;
        padding: 0;
    }

    .header-nav2-inner2-li-out {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 4px;
    }

    .header-nav2-inner2-li-out::after {
        position: absolute;
        content: "";
        margin: 0 auto;
        width: 0;
        height: 2px;
        right: 0;
        left: 0;
        background-color: white;
        top: 0;
    }

    .header-nav2-inner2-li-a {
        padding-top: 1px;
        min-height: 25px;
        color: #ffffff;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-li-a-span {
        justify-content: flex-start;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .header-nav2-inner2-li-btn {
        margin-left: 5px;
        line-height: 0;
        justify-content: center;
        display: flex;
    }

    .header-nav2-inner2-li-btn-span {
        line-height: 0;
        justify-content: center;
        color: white;
        display: flex;
    }

    .header-nav2-inner2-li-btn-span svg {
        transform: rotate(180deg);
        width: 7px;
        height: 7px;
        overflow: hidden;
    }

    .header-nav2-inner2-logos {
        margin: 8px 0;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }

    .header-nav2-inner2-logo1 {
        margin: 0;
        margin-bottom: 2.5px;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        padding: 0 5px;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-logo1-out {
        display: block;
    }

    .header-nav2-inner2-logo1-out {
        position: relative;
        text-align: left;
        cursor: pointer;
        outline: 0;
        display: block;
    }

    .header-nav2-inner2-logo1-outer-a {
        color: #ffffff;
        display: flex;
        fill: #ffffff;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-logo1-outer-a svg {
        width: 15px;
        height: 15px;
        overflow: hidden;
    }

    .header-nav2-inner2-logo2 {
        padding: 0;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        margin: 0;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-logo2-out {
        display: flex;
        margin: 4px 0;
        justify-content: flex-start;
        text-align: left;
    }

    .header-nav2-inner2-logo2-outer {
        position: relative;
        display: block;
    }

    .header-nav2-inner2-logo2-outer-a {
        color: #ffffff;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 5px;
        background: #ffffff00;
        border-radius: 0;
        border-width: 0;
        border-style: solid;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-logo2-outer-a-span {
        margin-right: 0;
        display: flex;
    }

    .header-nav2-inner2-logo2-outer-a-span svg {
        fill: #ffffff;
        overflow: hidden;
    }

    .header-nav2-inner2-logo3 {
        padding: 0;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        margin: 0;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-logo2-out3 {
        display: flex;
        margin: 4px 0;
        justify-content: flex-start;
        text-align: left;
    }

    .header-nav2-inner2-logo2-outer3 {
        margin: 0 10px;
        position: relative;
        display: block;
    }

    .header-nav2-inner2-logo2-outer3-a {
        color: #ffffff;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-logo2-outer3-a-span1 {
        display: flex;
        fill: #ffffff;
    }

    .header-nav2-inner2-logo2-outer3-a-span1 svg {
        width: 15px;
        height: 15px;
        overflow: hidden;
    }

    .header-nav2-inner2-logo2-outer3-a-span2 {
        background: #f4f5f7;
        color: #111111;
        position: absolute;
        font-size: .6em;
        padding: 3px;
        bottom: -7px;
        right: -13px;
        font-weight: 800;
        line-height: 1;
        border-radius: 3px;
    }


}


@media screen and (min-width: 961px) {

    .header-nav2-inner2-logo2-outer-a-span {
        margin-right: 5px;
    }

}