*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* display None */

.header-nav2 {
    display: none;
}

.side-bar {
    display: none;
}

.drop {
    display: none;
}

/* Base Code */

.body {
    background-color: #ffffff;
    color: #111111;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0px;
    font-family: font1;
    font-weight: 400;
    overflow-x: hidden;
    direction: ltr;
    padding: 0;
    margin: 0;
    display: block;
}

.wrapper {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.header {
    display: block;
}

.header-a {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    top: 32px;
    background: #ffffff;
    padding: 10px 15px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.header-out {
    background: rgba(10, 10, 10, 0.9);
    background-image:#0a0a0ae6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 99999;
    display: block;
}

.sticky {
    height: 88px;
    display: block;
}

.header-out::before {
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
}

.header-nav {
    height: 88px;
    background: 0 0;
    color: #ffffff;
    display: block;
}

.header-nav-out {
    background: 0 0;
    align-items: center;
    display: flex;
    position: relative;
    border-bottom: 0 solid #f4f5f7;
}

.header-nav-out::before {
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
}

.header-nav-outer {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 748px;
    display: block;
}

.header-nav-in {
    display: grid;
    grid-template-columns: auto auto;
    min-height: auto;
    margin: 0 -15px;
}

.header-nav-inner1 {
    display: flex;
    align-items: center;
}

.header-nav-in1 {
    margin: 4px 0;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    display: block;
}

.header-nav-in1-macro {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 10px 0;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in1-micro {
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    display: flex;
}

.header-nav-in1-micro-a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in1-micro-a img {
    width: 120px;
    max-width: 120px;
    display: block;
    margin: 0 auto;
    height: auto;
    aspect-ratio: auto 283 / 141;
    overflow: clip;
}

.header-nav-inner2 {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header-nav-in2 {
    margin: 4px 0;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header-nav-in2-out {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 3px;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer {
    display: block;
}

.header-nav-in2-in {
    text-align: left;
    cursor: pointer;
    outline: 0;
    display: block;
}

.header-nav-in2-in-a {
    color: #ffffff;
    display: flex;
    fill: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in2-in-a svg {
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.header-nav-in2-out2 {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer2 {
    display: flex;
    margin: 4px 0;
    justify-content: flex-start;
    text-align: left;
}

.header-nav-in2-in2 {
    position: relative;
    display: block;
}

.header-nav-in2-in2-a {
    color: #ffffff;
    display: flex;
    position: relative;
    padding: 3px;
    background: #ffffff00;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in2-in2-a-span {
    margin: 0;
    display: flex;
}

.header-nav-in2-in2-a-span svg {
    fill: #ffffff;
    overflow: hidden;
}

.header-nav-in2-out3 {
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 3px;
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer3 {
    display: flex;
    margin: 4px 0;
    justify-content: flex-start;
    text-align: left;
}

.header-nav-in2-in3 {
    position: relative;
    display: block;
}

.header-nav-in2-in3-a {
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-in2-in3-a-span1 {
    display: flex;
    fill: #ffffff;
}

.header-nav-in2-in3-a-span1 svg {
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.header-nav-in2-in3-a-span2 {
    background: #f4f5f7;
    color: #111111;
    position: absolute;
    font-size: .6em;
    padding: 3px;
    padding-right: 4px;
    bottom: -7px;
    right: -13px;
    font-weight: 800;
    line-height: 1;
    border-radius: 3px;
}

.header-nav-in2-out4 {
    margin: 0;
    margin-left: 15px;
    color: #ffffff;
    font-family: font1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0;
    position: relative;
    text-align: left;
    display: block;
}

.header-nav-in2-outer4 {
    align-items: center;
    display: block;
}

.header-nav-in2-outer4-btn {
    padding: 10px 15px;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    background: #0a0a0ae6;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    fill: #ffffff;
    border-width: 1px;
    border-radius: 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    font-family: font1;
}

.header-nav-in2-outer4-btn-span1 {
    background-color: #ffffff;
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
}

.header-nav-in2-outer4-btn-span2 {
    margin: 3px 0;
    background-color: #ffffff;
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
}

.main {
    flex: 1 auto;
    padding-top: 0;
    display: block;
}

.main-con {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 748px;
    display: block;
}

.main-out {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-outer {
    margin: 30px 0;
    padding: 0 15px;
    flex-grow: 1;
    max-width: 100%;
    display: block;
}

.home {
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    flex-direction: column;
    color: #111111;
    line-height: 12px;
    letter-spacing: 0;
    font-family: font5;
    font-weight: 400;
    direction: ltr;
}

.home-nav {
    color: #111111;
    font-size: 14px;
    white-space: nowrap;
    scrollbar-width: none;
    overflow-x: scroll;
    margin: 0 0 1em;
    padding: 0;
    text-align: left;
    display: block;
}

.home-p {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
}

.home-nav::before {
    content: " ";
    display: table;
}

.home-nav::after {
    clear: both;
    content: " ";
    display: table;
}

.home-nav-a1 {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
}

.home-nav-span1 {
    padding-left: 4px;
    padding-right: 4.5px;
}

/* dropdown */

.drop {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.drop-a {
    margin-right: 20px;
    margin-bottom: 2px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}


.drop-form {
    margin: 0;
    float: right;
    display: block;
}

.drop-form-sel {
    max-width: 155px;
    margin-bottom: 0;
    vertical-align: top;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZmlsbD0iIzYyNjI2MiIgZD0iTTE1IDhsLTQgNi00LTZoOHoiLz48L3N2Zz4=) right center / 18px no-repeat, #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    border-radius: 3px;
    color: #111111;
    padding: 10px 12px;
    font-family: font5;
    font-size: 12.25px;
    min-height: 35px;
    padding-right: 20px;
    line-height: 12px;
    display: inline-block;
    appearance: none;
    outline: 0;
    resize: vertical;
}

.drop-form-option {
    border-style: solid;
    font-family: font5;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    border-width: 2px;
    padding: 10px 12px;
    border-radius: 3px;
}

.main-head {
    padding: 10px 0 0 0;
    display: block;
}





/* media 576px */
 
@media screen and (min-width: 576px) {

    .header-nav2 {
        display: none;
    }


    .header-nav-in2-out {
        padding: 0;
    }

    .header-nav-in2-out3 {
        padding: 0 10px;
    }

    .header-nav-in2-in2-a {
        padding: 3px 5px;
    }

    .home {
        line-height: 15.6px;
    }

    .drop-form-sel {
        max-width: unset;
        font-size: 13px;
        line-height: 15.6px;
    }

    .drop-a {
        margin-bottom: 4px;
    }

    
}

/* Media 749px */

@media screen and (min-width: 749px) {

    .header-nav2 {
        display: none;
    }

    .header-nav-outer {
        max-width: 992px;
    }

    .main-con {
        max-width: 992px;
    }

}

/* media 769px */

@media screen and (min-width: 769px) {

    .home {
        flex-direction: row;
    }

}

/* media 801px */


@media screen and (min-width: 801px) {

    .main-outer {
        margin: 60px 0;
    }

}



/* Media 960px */

@media screen and (min-width: 960px) {

    .header-nav {
        display: none;
    }

    .drop-a {
        display: none;
    }

    .header-nav2 {
        height: 60px;
        background: 0 0;
        color: #ffffff;
        display: block;
    }

    .header-nav2-out {
        background: 0 0;
        max-height: 60px;
        border-bottom: 0 solid #f4f5f7;
        align-items: center;
        display: flex;
        position: relative;

    }

    .header-nav2-out::before {
        display: block;
        width: 100%;
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
    }

    .header-nav2-outer {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1170px;
        display: block;
    }

    .header-nav2-in {
        display: grid;
        grid-template-columns: auto auto;
        min-height: auto;
        margin: 0 -15px;
    }

    .header-nav2-inner1 {
        display: flex;
        align-items: center;
    }

    .header-nav2-inner1-con {
        margin: 8px 0;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        display: block;
    }

    .header-nav2-inner1-macro {
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        padding: 10px 0;
        margin: 0;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner1-micro {
        justify-content: flex-start;
        text-align: left;
        align-items: center;
        display: flex;
    }

    .header-nav2-inner1-micro-img {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner1-micro-img img {
        width: 120px;
        display: block;
        margin: 0 auto;
        height: auto;
        aspect-ratio: auto 283 / 141;
        overflow: clip;
    }

    .header-nav2-inner2 {
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }

    .header-nav2-inner2-con {
        margin: 8px 0;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        display: block;
    }

    .header-nav2-inner2-out {
        position: unset;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0;
        font-weight: 500;
        padding: 0;
        margin: 0;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-outer {
        display: block;
    }

    .header-nav2-inner2-ul {
        text-transform: uppercase;
        display: flex;
        margin: 0 -10px;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
    }

    .header-nav2-inner2-li {
        display: block;
        position: relative;
        margin: 0 10px;
        padding: 0;
    }

    .header-nav2-inner2-li-out {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 4px;
    }

    .header-nav2-inner2-li-out::after {
        position: absolute;
        content: "";
        margin: 0 auto;
        width: 0;
        height: 2px;
        right: 0;
        left: 0;
        background-color: white;
        top: 0;
    }

    .header-nav2-inner2-li-a {
        padding-top: 1px;
        min-height: 25px;
        color: #ffffff;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-li-a-span {
        justify-content: flex-start;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .header-nav2-inner2-li-btn {
        margin-left: 5px;
        line-height: 0;
        justify-content: center;
        display: flex;
    }

    .header-nav2-inner2-li-btn-span {
        line-height: 0;
        justify-content: center;
        color: white;
        display: flex;
    }

    .header-nav2-inner2-li-btn-span svg {
        transform: rotate(180deg);
        width: 7px;
        height: 7px;
        overflow: hidden;
    }

    .header-nav2-inner2-logos {
        margin: 8px 0;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }

    .header-nav2-inner2-logo1 {
        margin: 0;
        margin-bottom: 2.5px;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        padding: 0 5px;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-logo1-out {
        display: block;
    }

    .header-nav2-inner2-logo1-out {
        position: relative;
        text-align: left;
        cursor: pointer;
        outline: 0;
        display: block;
    }

    .header-nav2-inner2-logo1-outer-a {
        color: #ffffff;
        display: flex;
        fill: #ffffff;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-logo1-outer-a svg {
        width: 15px;
        height: 15px;
        overflow: hidden;
    }

    .header-nav2-inner2-logo2 {
        padding: 0;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        margin: 0;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-logo2-out {
        display: flex;
        margin: 4px 0;
        justify-content: flex-start;
        text-align: left;
    }

    .header-nav2-inner2-logo2-outer {
        position: relative;
        display: block;
    }

    .header-nav2-inner2-logo2-outer-a {
        color: #ffffff;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 5px;
        background: #ffffff00;
        border-radius: 0;
        border-width: 0;
        border-style: solid;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-logo2-outer-a-span {
        margin-right: 0;
        display: flex;
    }

    .header-nav2-inner2-logo2-outer-a-span svg {
        fill: #ffffff;
        overflow: hidden;
    }

    .header-nav2-inner2-logo3 {
        padding: 0;
        color: #ffffff;
        font-family: font1;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 400;
        margin: 0;
        position: relative;
        text-align: left;
        display: block;
    }

    .header-nav2-inner2-logo2-out3 {
        display: flex;
        margin: 4px 0;
        justify-content: flex-start;
        text-align: left;
    }

    .header-nav2-inner2-logo2-outer3 {
        margin: 0 10px;
        position: relative;
        display: block;
    }

    .header-nav2-inner2-logo2-outer3-a {
        color: #ffffff;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
    }

    .header-nav2-inner2-logo2-outer3-a-span1 {
        display: flex;
        fill: #ffffff;
    }

    .header-nav2-inner2-logo2-outer3-a-span1 svg {
        width: 15px;
        height: 15px;
        overflow: hidden;
    }

    .header-nav2-inner2-logo2-outer3-a-span2 {
        background: #f4f5f7;
        color: #111111;
        position: absolute;
        font-size: .6em;
        padding: 3px;
        bottom: -7px;
        right: -13px;
        font-weight: 800;
        line-height: 1;
        border-radius: 3px;
    }

    .sticky {
        height: 60px;
    }

    .main-out {
        flex-wrap: nowrap;
    }

    .main-outer {
        max-width: 70%;
        order: 2;
    }

    .home {
        margin-top: 1px;
    }

    .drop {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    



    /* side bar */

    .side-bar {
        max-width: 30%;
        order: 1;
        padding: 60px 15px;
        padding-right: 45px;
        margin-bottom: 20px;
        flex-grow: 1;
        height: auto;
        background: 0 0;
        position: static;
        overflow: visible;
        width: 100%;
        display: block;
    }

    .side-bar-con {
        display: block;
    }

    .side-bar-filter {
        word-break: break-word;
        margin-bottom: 40px;
        display: block;
    }

    .side-bar-filter-con {
        display: block;
    }

    .side-bar-filter-con h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        font-family: font2;
        display: block;
    }

    .side-bar-filter-out {
        border-color: #757575;
        border-radius: 4px;
        border-style: none;
        display: block;
    }

    .side-bar-filter-outer-outer {
        display: block;
    }

    .side-bar-filter-outer {
        margin-bottom: 24px;
        display: block;
    }

    .side-bar-filter-in {
        background: transparent;
        border: 0;
        border-radius: 4px;
        clear: both;
        height: 4px;
        margin: 15px 0;
        outline: none;
        padding: 0;
        position: relative;
        display: block;
    }
    .side-bar-filter-in::before {
        background: #000000;
        bottom: 0;
        content: "";
        left: 0;
        opacity: .2;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 4px;
    }

    .side-bar-filter-inner {
        display: block;
    }

    /* active */
    .side-bar-filter-macro {
        background: linear-gradient(to right,transparent 0%,#111111 0%,#111111 100%,transparent 80%);
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
    }

    .side-bar-filter-input {
        appearance: none;
        background: transparent;
        border: 0;
        display: block;
        height: 0;
        margin: 0;
        outline: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    }


    .side-bar-filter-input2 {
        appearance: none;
        background: transparent;
        border: 0;
        display: block;
        height: 0;
        margin: 0;
        outline: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    }

    .side-bar-filter-input::-webkit-slider-thumb,
    .side-bar-filter-input2::-webkit-slider-thumb {
        appearance: none;
        pointer-events: auto;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        border: 2px solid #111;
        margin-top: 6px;
        transform: translateX(-10%);
    }

    .side-bar-filter-input2::-webkit-slider-thumb {
        transform: translateX(10%);
        margin-top: 6px;
    }

    .side-bar-filter-val {
        align-items: start;
        display: flex;
        gap: 8px;
        justify-content: space-between;
        margin: 16px 0;
    }

    .side-bar-filter-val-in {
        align-items: start;
        display: grid;
        gap: 4px;
    }

    .side-bar-filter-val-in label {
        font-size: 12.25px;
        order: 1;
        display: inline-block;
        cursor: default;
        font-family: font5;
        color: #111111;
        line-height: 1.2;
        letter-spacing: 0;
        text-transform: none;
        font-weight: 400;
    }

    .side-bar-filter-val-in input {
        max-width: 60px;
        min-width: 80px;
        font-size: 12.25px;
        font-family: font5;
        line-height: 14.7px;
        margin: 0;
        width: auto;
        border-style: solid;
        border-color: #111111;
        display: inline-block;
        appearance: none;
        outline: 0;
        resize: vertical;
        padding: 8px;
        overflow: clip;
        border-width: 1px;
    }

    .side-bar-filter-dot {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }

    .stock {
        word-break: break-word;
        margin-bottom: 40px;
        display: block;
    }

    .stock-con {
        display: block;
    }

    .stock-con h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        font-family: font2;
        display: block;
    }

    .stock-out {
        display: block;
    }

    .stock-outer {
        display: grid;
    }

    .stock-ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }

    .stock-li {
        list-style: none;
        margin: 0 0 4px;
        padding: 0;
        display: list-item;
    }

    .stock-li-con {
        margin-top: 14px;
        line-height: 1;
        display: block;
    }

    .stock-li-con2 {
        margin-top: 16px;
        line-height: 1;
        display: block;
    }

    .stock-li-label {
        cursor: pointer;
        align-items: flex-start;
        display: inline-flex;
        font-size: .875em;
        margin-bottom: 0;
        position: relative;
    }

    .stock-li-label-in {
        appearance: none;
        background-color: #fff;
        border: 1px solid rgba(25, 23, 17, .48);
        border-radius: 4px;
        font-size: 12.25px;
        height: 18.375px;
        margin: 0 12.25px 0 0;
        min-height: 18.375px;
        overflow: hidden;
        position: static;
        vertical-align: middle;
        width: 18.375px;
        display: inline-block;
    }

    .stock-li-label-in::before {
        content: "";
    }

    .stock-li-label-in::after {
        content: "";
    }

    .stock-li-label-span {
        line-height: 18.375px;
        vertical-align: middle;
        font-family: font5;
        font-size: 12.25px;
    }

    .side-bar-dot {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        margin-top: 17px;
    }

    .rating {
        word-break: break-word;
        margin-bottom: 40px;
        display: block;
    }

    .rating-con {
        display: block;
    }

    .rating-con h3 {
        padding: 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 39.2px;
        letter-spacing: 0;
        margin: 0;
        margin-bottom: 32px;
        font-family: font2;
        color: #111111;
        display: block;
    }

    .rating-star {
        margin-bottom: 24px;
        display: block;
    }

    .rating-star-in {
        display: block;
    }

    .rating-ul {
        padding: 0;
        list-style: none;
        margin: 0;
        display: block;
    }

    .rating-li {
        list-style: none;
        margin: 0 0 4px;
        padding: 0;
        display: list-item;
    }

    .rating-li-out {
        margin-top: 14px;
        display: block;
    }

    .rating-li-label {
        cursor: pointer;
        align-items: flex-start;
        display: inline-flex;
        font-size: 12.25px;
        margin-bottom: 0;
        position: relative;
    }

    .rating-li-label-in {
        appearance: none;
        background-color: #fff;
        border: 1px solid rgba(25, 23, 17, .48);
        border-radius: 4px;
        font-size: 12.25px;
        height: 18.375px;
        margin: 0 12.25px 0 0;
        min-height: 18.375px;
        overflow: hidden;
        position: static;
        vertical-align: middle;
        width: 18.375px;
        display: inline-block;
    }

    .rating-li-label-in::before {
        content: "";
    }

    .rating-li-label-in::after {
        content: "";
    }

    .rating-li-label-span {
        line-height: 18.375px;
        vertical-align: middle;
    }

    .rating-li-label-span-in {
        display: flex;
        margin-bottom: 0;
    }

    .rating-li-label-span-inner {
        font-family: font6;
        display: inline-block;
        font-size: 12.25px;
        font-weight: 400;
        height: 19.8125px;
        line-height: 19.82px;
        overflow: hidden;
        position: relative;
        width: 64.9219px;
    }

    .rating-li-label-span-inner::before {
        color: #111111;
        content: "";
        left: 0;
        line-height: 1.618;
        opacity: .5;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
    }

    .rating-li-label-span-out {
        width: 100%;
        color: #111111;
        left: 0;
        overflow: hidden;
        padding-top: 18.375px;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.618;
    }

    .rating-li-label-span-out::before {
        color: #111111;
        content: "SSSSS";
        left: 0;
        line-height: 1.618;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
    }

    .rating-li-label-span-inner2 {
        display: inline-block;
        font-family: font6;
        font-size: 12.25px;
        font-weight: 400;
        height: 19.82px;
        line-height: 1.618;
        overflow: hidden;
        position: relative;
        width: 64.925px;
    }

    .rating-li-label-span-inner2::before {
        color: #111111;
        content: "SSSSS";
        left: 0;
        line-height: 1.618;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
    }

    .rating-li-label-span-out2 {
        width: 80%;
        color: #111111;
        left: 0;
        overflow: hidden;
        padding-top: 18.375px;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.618;
    }

    .rating-li-label-span-out2::before {
        color: #111111;
        content: "SSSSS";
        left: 0;
        line-height: 1.618;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
    }

    .rating-li-label-span-out3 {
        width: 60%;
        color: #111111;
        left: 0;
        overflow: hidden;
        padding-top: 18.375px;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.618;
    }

    .rating-li-label-span-out3::before {
        color: #111111;
        content: "SSSSS";
        left: 0;
        line-height: 1.618;
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;
    }

    .rating-star-dot {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        margin-top: 16px;
    }

    .five {
        margin: 0;
        word-break: break-word;
        display: block;
    }

    .five-con {
        display: block;
    }

    .five-out {
        margin-bottom: 16px;
        display: block;
    }

    .five-ul {
        margin: 0;
        width: 100%;
        padding: 0;
        list-style: none;
        display: block;
    }

    .five-li {
        list-style: none;
        margin: 0 0 4px;
        padding: 0;
        display: list-item;
    }

    .five-li-out {
        margin-top: 14px;
        color: #111111;
        line-height: 1;
        display: block;
    }

    .five-li-label {
        cursor: pointer;
        align-items: flex-start;
        display: inline-flex;
        font-size: 12.25px;
        margin-bottom: 0;
        position: relative;
    }

    .five-li-label-in {
        appearance: none;
        background-color: #fff;
        border: 1px solid rgba(25, 23, 17, .48);
        border-radius: 4px;
        height: 18.375px;
        margin: 0 12.25px 0 0;
        min-height: 18.375px;
        overflow: hidden;
        position: static;
        vertical-align: middle;
        width: 18.375px;
        cursor: pointer;
        display: inline-block;
    }

    .five-li-label-span {
        line-height: 18.375px;
        height: 18.375px;
        font-family: font5;
        font-size: 12.25px;
        vertical-align: middle;
    }

    .five-dot {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }


}


@media screen and (min-width: 961px) {

    .header-nav2-inner2-logo2-outer-a-span {
        margin-right: 5px;
    }

}

@media screen and (min-width: 993px) {

    .main-con {
        width: 100%;
        max-width: 1170px;
    }

}

@media screen and (min-width: 1064px) {

    .home-nav {
        line-height: 1.2;
    }

    .home {
        margin-top: 0;
        line-height: 16.18px;
    }

}